@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans", serif;
    color: #1a1a1a;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(105, 5, 121);
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(200, 200, 200, 1) 50%, rgba(20, 20, 20, 1) 100%);

}

article {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 45%;
}

div {

}

h1 {

}
h2 {

}

hr {
    visibility: visible;
}

.intro {
    margin: 25px 0 0;
    font-weight: bold;
}

.name {
    font-size: large;
    font-family: "Comic Sans MS", serif;
}

.links {

}

.about-me {

}

.point-title {

}

.point-text {

}

.history {

}


/* resume part*/
h4 {

}

.resume-timestamp {

}

.resume-text