@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans", serif;
    background-color: #f2f4f4;
    /*background: rgb(105, 5, 121);*/
    /*background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(200, 200, 200, 1) 50%, rgba(20, 20, 20, 1) 100%);*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin: auto;
}
::-webkit-scrollbar {
    display: none;
}

article {
    width: 80vh;

}

div {

}

h1 {

}
h2 {

}


.content-wrapper {
    display: grid;
    justify-items: center;
}


.wrapper {

}

.intro {
    height: 100vh;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    /*background-color: darkblue;*/
    font-size: x-large;
}
.intro-container {
margin-left: 20%;
}

.name {
    font-size: xxx-large;
    color: darkmagenta;
}

.links {
    height: 35vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.link {
    font-size: xx-large;
    color: snow;
    text-decoration: none;
    /*border: solid white;*/
    /*background-color: white;*/
    max-width: 50%;
    margin: 0% 0% 0%;
    /*border-radius: 1%;*/
}

.link-div {
    margin: 1% 0% 1%;
}

.link:hover {
    text-decoration: underline;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-about {
    width: 35%;

}

.point-title {

}

.point-text {

}

/* resume part*/
.history {
    margin: 0;
    background-color: black;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger-title {

    font-size: xxx-large;
}

.wrapper-history {


    max-width: 35%;
}

.resume-item {
    margin-top: 2%;
    margin-bottom: 7%;
}

.resume-title {
    font-weight: bold;
}

.resume-timestamp {

}

.resume-text {

}

.ten-vh-divider{
    height: 10vh;
}

.three-vh-divider {
    height: 3vh;

}