/*sections*/

body {
    background-color: #777;
    font-family: "Fira Sans", serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: purple;
    font-size: 60px;
}

article {
    width: 600px;
    max-width: 80%;
}

footer {
    height: auto;
    margin-top: auto;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

/* lists */
ul {
    list-style-type: none;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    /*
    alignment: left;
    */
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

li a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: #fff;
}

/* classes, pseudoclasses */
.align-center {
    align-content: center;
}

.text-shadowed {
    text-shadow: 2px 2px #999;
}

.center {
    margin: auto;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.navlist {
}

a:link { /* unvisited link */
    color: white;
}

a:visited { /* visited link */
    color: white;
}

a:hover { /* mouse over link */
    color: green;
}

a:active { /* selected link */
    color: blue;
}

.active {
    background-color: #444;
}


/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #444;
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}
.gallery {
    margin: 15px;
    border: 2px solid #111;
    background-color: #888;
    float: left;
    width: 180px;
}
.gallery:hover {
    border: 2px solid hotpink;
}
.gallery img {
    width: 80%;
    height: 80%;
    margin: 20px;
}
.desc {
    padding: 15px;
    text-align: center;
}
.indexfren{
    margin: auto;
    align-content: center;
    padding: 10px;
    transition: transform 10s;
    animation: infinite;
}
.indexfren:hover{
    transform: rotate(720deg);
}